<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>train</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but train doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->

  <script
    src="https://api-maps.yandex.ru/2.1/?apikey=AJJr1FwBAAAAmLNvJwIA1P7qvsXGNMFvoVtw0fAvsDZ_3mgAAAAAAAAAAABG3QJ7KqPxbg8zVSLSRzL-4sVNlw==&lang=ru_RU"
    type="text/javascript">
    </script>
</body>

</html>