<template>
  <div id="map" ref="map" class="map"></div>
</template>

<script>
import { almaataKostanay } from "../const/const";

export default {
  data() {
    return {
      myMap: {},
      objectManager: {},
      objId: "",
      location: [],
      almaataKostanay,
      tempObj: {},
      tempMark: {},
      asd: {}
    };
  },
  props: ["features", "data"],
  watch: {
    data: function() {
      ymaps.ready();
      // ymaps
      window.clearTimeout(this.asd);
      ymaps.ready(this.createObjects);
    }
  },
  created() {
    ymaps.ready(this.initMap);
  },
  methods: {
    async initMap() {
      try {
        const options = {
          center: [48.023474, 66.004708],
          zoom: 5.31,
          controls: []
        };
        this.myMap = new ymaps.Map(
          "map",
          options,
          {
            searchControlProvider: "yandex#search",
            yandexMapDisablePoiInteractivity: true
          },
          { suppressMapOpenBlock: true }
        );
      } catch (e) {
        console.log(e);
        const defaultState = {
          center: [46.823474, 66.944159],
          zoom: 5.31
        };
      }
    },
    async createObjects() {
      let map = this.myMap;
      map.geoObjects.remove(this.tempObj);
      map.geoObjects.remove(this.tempMark);
      console.log(this.tempMark);
      this.myMap.geoObjects.removeAll();

      map.geoObjects.each(function(context) {
        map.geoObjects.remove(context);
      });
      let a = this.data;
      // map.geoObjects.remove(secondMark);

      var myGeoObject = new ymaps.GeoObject(
        {
          geometry: {
            type: "LineString",
            coordinates: this.data
          }
        },
        {
          draggable: false,
          strokeColor: "#000",
          strokeWidth: 3
        }
      );
      window.clearTimeout(this.asd);

      var firstMark = new ymaps.Placemark([43.341392, 76.949846], {
        preset: "islands#blueRailwayIcon"
      });
      var secondMark = new ymaps.Placemark([43.341392, 76.949846], {
        preset: "islands#blueRailwayIcon"
      });
      let asd;

      function gg() {
        a.forEach((item, index) => {
          (function(item) {
            asd = setTimeout(function() {
              map.geoObjects.remove(secondMark);
              firstMark = new ymaps.Placemark(
                item,
                {
                  preset: "islands#blueRailwayIcon"
                },
                {}
              );
              map.geoObjects.add(firstMark);
              secondMark = firstMark;
            }, 2500 + index * 1550);
          })(item);
        });
      }
      this.asd = asd;
      await gg();
      this.myMap.geoObjects.add(myGeoObject);
      this.tempObj = myGeoObject;
      this.tempMark = firstMark;
    }
  }
};
</script>

<style scoped>
.map {
  width: 70vw;
  height: 70vh;
  border: 1px solid #28273375;
}

#islands#blueRailwayIcon {
  display: none;
}

.ymaps-2-1-63-gotoymaps-container {
  display: none !important;
}
</style>