<template>
  <div id="app">
    <Map :data="data"></Map>

    <div class="container">
      <div class="btn" @click="setData(almaataPavlodar)">Алматы - Павлодар</div>
      <div class="btn" @click="setData(almaataKostanay)">Костанай - Алматы</div>
    </div>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import Map from "./components/map";
import { almaataKostanay, almaataPavlodar } from "./const/const";

export default {
  data() {
    return {
      data: [],
      almaataKostanay,
      almaataPavlodar
    };
  },
  components: {
    Map,
    HelloWorld
  },
  computed: {
    data1() {
      return this.data;
    }
  },
  methods: {
    setData(arr) {
      this.data = arr;
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 20px 66px;
  display: flex;
  justify-content: space-between;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
</style>
